# Ejercicio sobre SQL

**Desarrollado por:** Orlando Patricio Chacón Molina

**Fecha de creación:** 2022-03-28

**Fecha de actualización:** 2022-03-28

SQLAlchemy es un envoltorio para Python que nos permite escribir consultas SQL en Python. Lo usaremos para practicar los conceptos básicos de SQL en Python. Utilizaremos una de las mismas tablas que en el ejercicio anterior sobre conceptos básicos de SQL, pero añadiremos otra.

Primero, necesitamos conectarnos a una base de datos. En este paso, solo leeremos una tabla en SQL. Crearemos una base de datos SQLite y cargaremos las tablas, que puedes descargar desde aquí y aquí.

Los datos (de esta fuente) describe detalles sobre diferentes colegios.

## Crea la base de datos SQLite

Para crear una base de datos SQLite utilizando SQLAlchemy,, necesitamos cargar los datos en Google Drive y leerlos como dos marcos de datos de Pandas. El código a continuación carga los datos, crea una conexión con un motor de SQLite y carga los datos como tablas SQLite. Para tu conveniencia, acá hay un documento con código para que empieces. Haz una copia del documento para editarla.

In [3]:
# imports
import pandas as pd
from sqlalchemy import create_engine

# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
school = pd.read_csv('data/School Details.csv')
# load table 2
facility = pd.read_csv('data/School Facility Details.csv')
# crear motor sqlite
engine = create_engine('sqlite:///school2.db', echo=True)
# crear conexión con el motor
conn = engine.connect()

# agregarel marco de datos como una tabla en sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')
sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-03-28 18:28:01,284 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-03-28 18:28:01,284 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 18:28:01,285 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-03-28 18:28:01,286 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 18:28:01,289 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-03-28 18:28:01,289 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2022-03-28 18:28:01,303 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 18:28:01,303 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-03-28 18:28:01,304 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-03-28 18:28:01,314 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 18:28:01,319 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-28 18:28:01,354 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-28 18:28:01,355 INFO sqlalchemy.engine.Engine [generated in 0.03168s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-03-28 18:28:01,367 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 18:28:01,379 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-03-28 18:28:01,380 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 18:28:01,381 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-03-28 18:28:01,381 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-28 18:28:01,383 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-03-28 18:28:01,384 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2022-03-28 18:28:01,393 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 18:28:01,394 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-03-28 18:28:01,395 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2022-03-28 18:28:01,405 INFO sqlalchemy.engine.Engine COMMIT
2022-03-28 18:28:01,407 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-28 18:28:01,421 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-28 18:28:01,422 INFO sqlalchemy.engine.Engine [generated in 0.01243s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-03-28 18:28:01,428 INFO sqlalchemy.engine.Engine COMMIT

## ¿Cuál es el BACDistance promedio (en km)? Renombra la columna resultante como "avg_bac_distancia."

In [5]:

# Escribe tu consulta SQL en esta cadena
sql = """SELECT AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:31:02,159 INFO sqlalchemy.engine.Engine SELECT AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details

2022-03-28 18:31:02,160 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         12.681822

## ¿Cuál es el BACDistance promedio (en km) según nivel educativo del colegio?  Ordena los resultados de promedio mayor a promedio menor.

In [7]:

# Escribe tu consulta SQL en esta cadena
sql = """SELECT SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:33:25,390 INFO sqlalchemy.engine.Engine SELECT SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel

2022-03-28 18:33:25,391 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distance
0        None               NaN
1         JHS         13.692647
2         LPS          5.368421
3          PS         12.830787
4          SS         12.630872

## Repite la consulta anterior, pero solo muestra los resultados donde la distancia promedio sea menor a 10 km.

In [8]:
# Escribe tu consulta SQL en esta cadena
sql = """SELECT SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING AVG([BACDistance (in Km)]) < 10
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:34:53,640 INFO sqlalchemy.engine.Engine SELECT SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING AVG([BACDistance (in Km)]) < 10

2022-03-28 18:34:53,641 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distance
0         LPS          5.368421

## Une las dos tablas (detalles de colegios y detalles de instalaciones de los colegios). Comienza mostrando todas las columnas, pero limita las filas resultantes a solo 2.

In [10]:
# Escribe tu consulta SQL en esta cadena
sql = """SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:37:30,589 INFO sqlalchemy.engine.Engine SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode == sfd.EstablishmentCode
LIMIT 2

2022-03-28 18:37:30,590 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

## Ahora, solo selecciona colegios donde el nivel de este sea Escuela Primaria y que no tengan biblioteca.

In [12]:
# Escribe tu consulta SQL en esta cadena
sql = """SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND
SchoolLevel = 'PS' AND
IsLibraryAvailable <> 'Available'
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:40:25,034 INFO sqlalchemy.engine.Engine SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND
SchoolLevel = 'PS' AND
IsLibraryAvailable <> 'Available'

2022-03-28 18:40:25,034 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

## Toma la consulta anterior, pero ordena los resultados en orden alfabético por nombre.

In [13]:
# Escribe tu consulta SQL en esta cadena
sql = """SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND
SchoolLevel = 'PS' AND
IsLibraryAvailable <> 'Available'
ORDER BY EstablishmentName
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-28 18:41:27,574 INFO sqlalchemy.engine.Engine SELECT *
FROM school_details sd, school_facility_details sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND
SchoolLevel = 'PS' AND
IsLibraryAvailable <> 'Available'
ORDER BY EstablishmentName

2022-03-28 18:41:27,574 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
3,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
4,209,East,S0108,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Pakyong Brc,Aho-Shanti Government Secondary School,PS,State Govt.,AHO-YANGTAM,Pakyong,...,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available